@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600&family=Playfair+Display:ital@0;1&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --background-color: rgba(0, 0, 0, 1);
  --primary-color: #e91414;
  --text-color: white;
  --light-color: rgb(184, 174, 174);
  --light-black: rgb(27, 26, 26, 1);
  --glass-black: rgb(27, 26, 26, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--background-color);
}
body::-webkit-scrollbar{
  width: 8px;
}
body::-webkit-scrollbar-track{
  background-color: var(--light-black);
}
body::-webkit-scrollbar-thumb{
  background-color: var(--primary-color);
  border-radius: 0;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 70px 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  
}

.navbar {
  background-color: transparent;
  width: 100%;
  border-radius: 10px;
  padding-top: 20px;
}

.logo {
  color: var(--primary-color);
  letter-spacing: 2px;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbox {
  width: 100%;
  outline: none;
  background: var(--light-black);
  border: none;
  padding: 0 20px;
  color: var(--text-color);
  border-left: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
  height: 40px;
}

.searchbox::placeholder {
  font-size: 14px;
  color: var(--light-color);
}

section {
  padding: 0 20px;
  margin-top: 60px;
  color: var(--text-color);
}

.title {
  font-size: 24px;
  letter-spacing: 2px;
}

.content {
  margin-top: 25px;
  display: flex;
  flex-wrap: row;
  overflow-x: auto;
  gap: 12px;
  padding-bottom: 30px;
}

.content::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-black);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--primary-color);
}

.card {
  padding: 10px 20px;
  background-color:var(--light-black);
  cursor: pointer;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  position: relative;
}

.card img {
  border-radius: 10px;
  position: relative;
}
.name{
  text-align: center;
  padding: 20px 0 10px;
  opacity: 1;
  transition: opacity 2.5s;
}
.overview{
  position: absolute;
  bottom: 100%;
  background-color: var(--glass-black);
  padding: 20px 25px;
  border-top-left-radius: 30px;
  border-top-right-radius: 50px;
  transition: 2s all;
  padding-bottom: 20px;
  overflow-y: hidden;
  z-index: 200;
}
.card:hover .overview{
  bottom:0;
}
.card:hover .name{
  opacity: 0;
}
.card:hover .type{
  opacity: 0;
}
.overview p{
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
}
.type{
  text-align: center;
  opacity: 1;
  transition: opacity 2.6s;
}
.rating{
  position: absolute;
  top:0;
  right: 0;
  z-index: 100;
  padding:10px 10px;
  border-radius: 50%;
  background-color: var(--light-black);
}
.card i{
  font-weight: 400;
  color:var(--primary-color);
  text-align: center;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:20px 0;
}
.buttons button{
  outline: none;
  border:none;
  background-color: var(--light-black);
  border:1px solid var(--light-black);
  backdrop-filter: blur(10px);
  color: var(--text-color);
  padding: 10px 20px;
  margin-right: 10px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: .5s all;
}
.buttons button:hover{
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  font-weight: bold;
}
.buttons button.active{
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  font-weight: bold;
}
.play{
  position: absolute;
  top:0;
  left: 0;
  padding:10px;
  border-radius: 50%;
  background-color: var(--light-black);
  backdrop-filter: blur(10px);
  z-index: 50;
  transition: 0.5s all;
}
.play img{
  width: 30px;
  height: 30px;
}
.play:hover{
  transform: scale(1.1);
}
@media(max-width:991px) {
  .content::-webkit-scrollbar {
    height: 0;
  }
}

@media(max-width:671px) {
  .container {
    padding: 0 10px 20px;
  }

  nav {
    flex-direction: column;
    gap: 15px;
  }

  .searchbox {
    width: 190px;
    border-left: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
  }

  .searchbox::placeholder {
    font-size: 12px;
  }

  .title {
    font-size: 17px;
  }
}